body {
    font-family: "Vollkorn";
    margin: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: inherit;

        &.hidden {
            display: none;
        }
    }

    a {
        color: inherit;

        &[target="_blank"]::after {
            content: "↗";
            display: inline-block;
            line-height: 1;
        }
    }

    overflow-x: hidden;
}

main {
    width: clamp(50vw, 48rem, 75vw);
    margin: auto;
}

#Shion-discord {
    display: flex;
    justify-content: center;
}
