/* font */
/*
  https://unicode-table.com/en/
  U+0020 - U+007F: Basic Latin
  U+3000 - U+303F: CJK Symbols and Punctuation
  U+3040 - U+309F: Hiragana
  U+30A0 - U+30FF: Katakana
  U+4E00 - U+9FFF: CJK Unified Ideographs
*/
/* only for numbers (all monospace)*/
@font-face {
  font-family: "UD Digi Kyokasho N-R";
  src: url("files/UDDigiKyokashoN-R.ttf");
  unicode-range: U+0020-007F;
}
/* default (alphanumeric proportional)*/
@font-face {
  font-family: "UD Digi Kyokasho NP-R";
  src: url("files/UDDigiKyokashoNP-R.ttf");
  unicode-range: U+0020-007F, U+3000-30FF, U+4E00-9FFF;
}
/* (all proportional) */
//@font-face {
  font-family: "UD Digi Kyokasho NK-R";
  src: url("files/UDDigiKyokashoNK-R.ttf");
  unicode-range: U+0020-007F, U+3000-30FF, U+4E00-9FFF;
}
* {
  writing-mode: vertical-rl;
  font-family: "UD Digi Kyokasho NP-R"
}

/* accidentals */
.suuji {
  font-family: "UD Digi Kyokasho N-R";
}

/* HEADER */

#button_ca {
  height: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* MAIN */

/* News */
#news {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 2fr 1fr;
}
@media screen and (max-height: 47rem) {
  #news {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}
