* {
  font-family: Segoe UI;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}
header {
  width: 75%;
  margin: auto auto;
}
main {
  width: 75%;
  margin: auto auto;
}
#about-me {
  float: left;
  width: calc(100% / 3 * 2 - 1rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#news {
  float: right;
  width: calc(100% / 3);
}
