@font-face {
  font-family: "UD Digi Kyokasho N-R";
  src: url("files/UDDigiKyokashoN-R.ttf");
}
@font-face {
  font-family: "UD Digi Kyokasho NP-R";
  src: url("files/UDDigiKyokashoNP-R.ttf");
}
@font-face {
  font-family: "UD Digi Kyokasho NK-R";
  src: url("files/UDDigiKyokashoNK-R.ttf");
}

* {
  writing-mode: vertical-rl;
  font-family: "UD Digi Kyokasho NP-R"
}
